<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community</title>
</head>
<body>
  <h1>Welcome to the Community App Page</h1>
  <%- inclue('../partials/_navbar.ejs')
  <% allUsers.forEach((user) => { %>
  <div>
    <a href="/users/<%= user.id %>/users/<%= user.id %>">
      <li><%= user.username %></li>
    </a>
  </div>
<% }) %>
</body>
</html>