<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('../partails/_navbar.ejs') %>
  <% allUsers.forEach((user) => { %> 
  <div>
    <a>
      <li><%= user.username %></li>
    </a>
  </div>
<% }) %>
  <div>
</body>
</html>